<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add.css">
    <title>Checkout command</title>
</head>
<body>
    <form class="form" action="/check-out" method="post">
        <h2>Confirmer la commande</h2>
        <p type="Nome:"><input placeholder="Nome.." name="Nom"></input></p>
        <p type="Prenom:"><input placeholder="Prenom.." name="Prenom"></input></p>
        <p type="Email:"><input placeholder="Email.." name="Email"></input></p>
        <p type="Address:"><input placeholder="Address.." name="Address"></input></p>
        <p type="Pays:"><input placeholder="Pays.." name="Pays"></input></p>
        <button type="submit">Valider</button>
      </form>
</body>
</html>