<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
    <title>Modifer le stock</title>
</head>
<body>
    <form class="form" action="/edit" method="post">
        <h2>Ajouter le stock</h2>
        <p type="ID d'article:"><input placeholder="L'id de l'article ici.." name="ID"></input></p>
        <p type="Quantité à ajouter au stock:"></p><input id="taille" placeholder="S" name="S"><input  id="taille" placeholder="M" name="M"><input  id="taille" placeholder="L" name="L"><input  id="taille" placeholder="XL" name="XL"></input>
        <button type="submit">Valider</button>
      </form>
</body>
</html>